.is-vishidden,
.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
}

.no-js .no-js-hide {
  display: none;
}

.u-full-width {
  width: 100%;
}

.u-align--center {
  text-align: center;
}

.u-align--right {
  text-align: right;
}

.u-align--left {
  text-align: left;
}

.u-reversed-out {
  color: $c-white;

  p,
  h1 a,
  h2 a,
  h3 a {
    color: $c-white;
  }
}

/**
 * Remove all margins/padding
 */
.u-no-spacing {
  padding: 0;
  margin: 0;
}

/**
 * Active on/off states
 */
.u-active--off {
  display: none;
}

[class*="-is-active"].js-toggle-parent,
[class*="-is-active"].js-toggle {
  .u-active--on {
    display: none;
  }

  .u-active--off {
    display: block;
  }
}

[class*="-is-active"] {
  .u-hide-on-active {
    display: none;
  }
}

.u-background-color--blue {
  background-color: $c-blue;
}

.u-fill--white {
  fill: $c-white;
}
