<header class="c-main-header u-padding--top--1">
  <div class="l-container--xl l-flex--middle">
    <div class="l-flex--grow">
      {% set logo = 'light' %}
      <div class="o-logo">
        {% include '01-atoms/logos/logo.njk' %}
      </div>
    </div>
    <div class="l-flex--shrink l-flex--middle">
      <span class="u-padding--right--1 o-search">{% include '01-atoms/icons/search.njk' %}</span>
      <span class="o-menu">{% include '01-atoms/icons/menu.njk' %}</span>
    </div>
  </div>
</header>