{% set image_path = '/wp-content/themes/p72/images' %}
<!doctype html>
<html class="no-js no-svg" {{ site.language_attributes }}>
<head>
{% block html_head_container %}
  {% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
{% endblock %}
</head>

<body class="{{body_class}}" data-template="base.twig">
  <a class="skip-link visually-hidden" href="#content">{{ _e( 'Skip to content') }}</a>
  {% include "03-organisms/site/site-header/site-header.twig" %}
  <section id="content" role="main">
    {% block content %}
      Sorry, no content
    {% endblock %}
  </section>
  {% block footer %}
    <footer id="footer">
      {% include 'footer.twig' %}
    </footer>
    {{ fn('wp_footer') }}
  {% endblock %}
</body>
</html>
