{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} main" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}

          

          Button Test
          {% 
            include '01-atoms/buttons/button.twig'
            with {
              'block': 'my-blockname',
              'element': 'element',
              'modifiers': ['red', 'large'],
              'extra': ['this-class', 'that-class'],
              'button_content': 'Test'
            }  
          %}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
