.c-site-header {
  margin-top: $space-1;
  padding-left: $space-1;
  padding-right: $space-1;

  &.on-dark {
    .c-icon {
      @include p72-icon(65px,65px, $c-white);

      transition: $transition-all;

      &--search {
        @include p72-icon(65px,65px, transparent);
      }
    }

    .c-icon:hover {
      background-color: $c-white;
      fill: $c-blue;
      cursor: pointer;
    }

    .c-icon--search:hover {
      background-color: $c-blue;
    }
  }

  &__inner {
    display: flex;
  }

  &__logo {
    @include flex-center;

    flex-grow: 1;
  }

  &__menu {
    flex-shrink: 1;
  }
}
