{% set header__base_class = 'header' %}
<header class="c-site-header {{ on_dark }}">
  <div class="l-container--xl c-site-header__inner">
    <div class="c-site-header__logo">
      {% include "@atoms/images/logos/p72.twig" %}
    </div>
    <div class="c-site-header__menu">
     <div class="c-icon c-icon--search {{ icon_fill }}">
        {% include "@atoms/icons/search.twig" %}
      </div>
      <div class="c-icon c-icon--menu {{ icon_fill }}">
        {% include "@atoms/icons/menu.twig" %}
      </div>
    </div>
  </div>
</header>
