/* ------------------------------------ *\
    $HEADINGS
\* ------------------------------------ */

@mixin o-heading--xxl {
  font-family: $ff-font--primary;
  font-size: $font-size-2xl;
  line-height: 1.2;
  letter-spacing: 0.5px;
}

h1,
.o-heading--xxl {
  @include o-heading--xxl;
}

@mixin o-heading--xl {
  font-family: $ff-font--primary;
  font-size: $font-size-xl;
  line-height: 1.3;
  letter-spacing: 0.75px;
}

h2,
.o-heading--xl {
  @include o-heading--xl;
}

@mixin o-heading--l {
  font-family: $ff-font--primary;
  font-size: $font-size-m;
  line-height: 1.4;
}

h3,
.o-heading--l {
  @include o-heading--l;
}

@mixin o-heading--m {
  font-family: $ff-font--primary;
  font-size: $font-size-m;
  line-height: 1.4;
}

h4,
.o-heading--m {
  @include o-heading--m;
}

@mixin o-heading--s {
  font-family: $ff-font--primary;
  font-size: $font-size-s;
  line-height: 1.6;
}

h5,
.o-heading--s {
  @include o-heading--s;
}

@mixin o-heading--xs {
  font-family: $ff-font--primary;
  font-size: $font-size-s;
  line-height: 1.5;
}

h6,
.o-heading--xs {
  @include o-heading--xs;
}
