/* ------------------------------------ *\
    $SLIDER COMPONENT
\* ------------------------------------ */

.c-slider {
  overflow-x: hidden;
}

 
.c-slide__cta:hover .c-slide__cta__arrow::before {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240.823 240.823'><path fill='#{url-friendly-color($c-link-hover-color)}' d='M183.189 111.816L74.892 3.555c-4.752-4.74-12.451-4.74-17.215 0-4.752 4.74-4.752 12.439 0 17.179l99.707 99.671-99.695 99.671c-4.752 4.74-4.752 12.439 0 17.191 4.752 4.74 12.463 4.74 17.215 0l108.297-108.261c4.68-4.691 4.68-12.511-.012-17.19z'/></svg>");
}

.c-slide__cta__arrow::before {
  display: inline-block;
  width: 12px;
  height: 10px;
  transform: translateX(2px) translateY(1px);
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 240.823 240.823'><path fill='#{url-friendly-color($c-primary)}' d='M183.189 111.816L74.892 3.555c-4.752-4.74-12.451-4.74-17.215 0-4.752 4.74-4.752 12.439 0 17.179l99.707 99.671-99.695 99.671c-4.752 4.74-4.752 12.439 0 17.191 4.752 4.74 12.463 4.74 17.215 0l108.297-108.261c4.68-4.691 4.68-12.511-.012-17.19z'/></svg>");
}



