/* ------------------------------------ *\
    $NAVIGATION
\* ------------------------------------ */

.o-breadcrumbs {
  padding-top: $space;
  padding-bottom: $space;

  .o-breadcrumb span {
    margin-left: 2px;
    margin-right: 2px;
  }
}
