<div id="home-bq-links" class="l-breakout o-split" data-ani-id="home-bq-links">
  <img class="o-split__image" data-ani-id="home-subhero" src="assets/img/home-subhero.jpg" alt="">
  <div class="l-flex--middle o-blockquote o-blockquote--links o-blockquote--on-dark">
    <div class="o-blockquote__text">
      <p data-quote><span data-ani-id="home-quote-1">We marry</span> <a data-ani-id="home-quote-2" href="#">tech startups</a> <span data-ani-id="home-quote-3">with established companies to create</span> <a data-ani-id="home-quote-4" href="#">model-driven businesses.</a> <a data-ani-id="home-quote-5" href="#">Predictive algorithms</a> <span data-ani-id="home-quote-6">power key decisions and adapt with astonishing speed and</span> <a data-ani-id="home-quote-7" href="#">scale.</a></p>
    </div>
  </div>
</div>
