<div class="l-breakout o-blockquote--rings">
  <div class="o-blockquote__rings--left"></div>
  <div class="l-container o-blockquote o-blockquote--on-dark o-blockquote--has-icon">
    <div class="o-blockquote__text">
      <div class="o-blockquote__icon" data-ani-id="home-quote-icon">
        {% include "01-atoms/icons/quote.njk" %}
      </div>
      <p class="o-blockquote__quote" data-ani-id="home-quote-software">
        If software ate the world. models will run it. Models improve products, products get used more, this new data improves the product even more. This creates a near-frictionless process of continuous improvement.
      </p>
      <div bp="grid" class="o-blockquote__cite">
        <div bp="3" class="o-blockquote__person" data-ani-id="home-steve-cohen">
          <img src="assets/img/icon-steve-cohen.png" alt="Steve Cohen">
          <p>Steve Cohen <span>Lead Investor</span></p>
        </div>
        <div bp="3" class="o-blockquote__person" data-ani-id="home-steve-cohen">
          <img src="assets/img/icon-matthew-granade.png" alt="Matthew Granade">
          <p>Matthew Granade <span>Managing Partner</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="o-blockquote__rings--right"></div>
</div>