<div class="c-hero c-hero--home">
  <p><span class="u-font--m"><span data-ani-id="home-forget" class="u-color--primary">Forget self driving.</span> <span data-ani-id="home-next-gen">The next-generation business is</span></span></p>
  <h1 class="u-font--5xl u-font-weight--normal">
    <span class="home-wrapper"><span data-ani-id="home-self" class="u-color--primary">self</span></span>
    <span class="home-wrapper"><span data-ani-id="home-learning">learning</span></span>
  </h1>
</div>